:root {
    --main_color: #abdcea;
    --main2_color: #1a73af;
    --grey_color: #aaaaaa;
    --focus_color: #fe92a1;
    --lightPink_color: #fee0e2;
    --text_color: #010204;
    --yellow_color: #fff3e3;
    --white_color: #ffffff
}

@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .radImg {
        right: -100px;
    }

    .show {
        padding: 0;
    }

    .show_card {
        min-height: 90%;
        max-height: 100%;
        border-radius: 0 0 50px 50px;
        padding: 30px;
    }

    .wave--one {
        top: -65vh;
        left: -130vh;
        width: 200vh;
        height: 200vh;
        border-radius: 90vh;
    }

    .wave--two {
        top: -60vh;
        left: -130vh;
        width: 200vh;
        height: 200vh;
        border-radius: 90vh;
    }

    .show_card::before {
        text-align: center;
        color: var(--main_color);
        display: block;
        content: '- RAD -';
        font-size: 50px;
    }

    .progression_bar {
        flex-wrap: wrap;
        align-content: space-around;
        height: 120px;
    }

    .progression_input--result {
        margin-top: 50px;
    }
}