:root {
    --main_color: #abdcea;
    --main2_color: #1a73af;
    --grey_color: #aaaaaa;
    --focus_color: #fe92a1;
    --lightPink_color: #fee0e2;
    --text_color: #010204;
    --yellow_color: #fff3e3;
    --white_color: #ffffff
}

.progression {
    transform: translate(20px, 0);
    opacity: 0;
    transition: .5s;
}

.progression_bar {
    display: flex;
    align-items: center;
}

.bar_import {
    position: relative;
    overflow: visible;
    margin-right: 20px;
}

.import_file {
    opacity: 0;
    position: relative;
    width: 60px;
}

.import_hover {
    color: var(--white_color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px 7px 2px;
    background-color: var(--main2_color);
}

.bar_export {
    padding: 1px 7px 2px;
    background-color: var(--main2_color);
    color: var(--white_color);
    margin-left: 20px;
    display: inline-block;
}

.bar_btn {
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.bar_add {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 40px;
}

.progression .result_item {
    width: 120px;
    height: 30px;
    color: var(--white_color);
    text-align: center;
    display: inline-block;
    margin: 5px;
    box-shadow: 2px 2px 6px var(--grey_color);
    background-color: var(--main_color);
    transition: all .2s;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.progression .result_item--focus {
    background-color: var(--focus_color);
}

.progression .result_item--wrapper {
    display: inline-block;
}

.progression .item_pannel {
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}
